# .editorconfig
# EditorConfig helps maintain consistent coding styles for multiple developers working on the same project across various editors and IDEs.

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.md]
# Use tabs for indentation in markdown files
indent_style = tab